<%- include('partials/header') %>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/allCustomber">All account info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="
            container-fluid
            customer-container
            d-flex
            justify-content-center
            align-items-center
            flex-column
            mt-3
            h-100
            overflow-hidden
            animate__animated animate__fadeIn animate__slow 
          ">
                <div class="container-fluid customer-card-container w-50 mt-5 p-5">
                    <div class="card p-2 customer-card">
                        <h5 class="card-header text-center fw-bold">Customer Account Details</h5>
                        <div class="d-flex align-items-center justify-content-evenly mt-3 mb-3 c-pic-info">
                            <div class="div">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="fw-bold"> Name: </span>

                                        <%=userDetail.name%>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="card-body border border-dark mt-2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="fw-bold"> Account ID: </span>

                                    <%=userDetail.id%>
                                </li>

                                <li class="list-group-item">
                                    <span class="fw-bold"> email address: </span>

                                    <%=userDetail.username%>
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-bold"> Contact Number: </span>
                                    <%=userDetail.contact%>

                                </li>

                                <li class="list-group-item">
                                    <span class="fw-bold"> Residential Address: </span>

                                    <%=userDetail.city%>
                                </li>
                                <li class="list-group-item" id="username">
                                    <span class="fw-bold" id="balance"> Current Balance: </span>
                                    <%=userDetail.balance%><i class="fas fa-rupee-sign"></i>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/sendmoney" class="btn btn-primary">send money</a>
            <a href="/logout" class="btn btn-primary">logout</a>
        </div>
    </div>


    <%- include('partials/footer') %>